body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

header{
	background: url(../img/bgc_header.jpg) no-repeat #68201a;
	height: 100vh;
	box-shadow:0 0 0 2000px rgba(0, 0, 0, 0.45) inset;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a, h1, h2{
	color: #fff;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

p{
	font-size: 14px;
	color: #717171;
	font-family: 'Roboto Slab', serif;
}



h2{
	text-transform: uppercase;	
	font-size: 20px;
	color: #717171;
	margin-bottom: 30px;
	padding-top: 100px;
	text-align: center;
}

h3{
	text-transform: uppercase;	
	font-size: 14px;
	color: #717171;
}

.menu{
	position: relative;
	bottom: 0;
	margin: 0 auto;
	height: 60px;
	width: 85%;
}

.logo
{
	position: absolute;
	bottom: 0;
	left:0;
}

.logo a{
	font-size:24px;
	font-weight: 700;
}

.navigation{
	position: absolute;
	bottom: 0;
	right:0;
}
.navigation a{
	font-size: 14px;
}

.menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;

}
.menu li {
	float: left;
	margin-right: 40px;
	font-weight: 400;
}
.menu li:last-child {
	margin: 0;
}

.mainpart{
	position: absolute;
	margin: 0 auto;
	width: 50%;
	height: 190px;
	top: 50%;
	left: 25%;
	margin-top: -100px;
	text-align: center;
}

.mainpart h1{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 46PX;
	line-height: 1em;		
	margin-bottom: 30px;	

}
.mainpart p {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 	70px;
	color: #fff;
	text-decoration: none;
}

.mainpart a, .your_project a{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 36px;
	border: 2px solid #fff;


}
.mainpart a:hover, .your_project a:hover{
	background-color: #fff;
	color: #68201a;
}

.services{
	background-color: #fff;
	margin: 0 auto;	
	color: #717171;
	text-align: center;
	width: 85%;
}

.line{
	border-bottom: 1px solid #717171;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.services p, .aboutus p, .blogpost p, .getintouch p{
	color: #717171;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	margin-bottom: 70px;
	text-align: center;
}

.services_types{
	height: 218px;
    margin-bottom: 100px;
}
.services_types_item{
	width: 33.3%;
	position: relative;
	height: 218px;
	float: left;
	padding: 0;

}

.services_types_item h3{
	position: absolute;
	top: 50%;	
	left:50%;
	margin-right: -50%;
	margin-top: 2em;
    transform: translate(-50%, -50%);
}

.services_types_item p{
	margin: 0;
	display: block;
	position: absolute;
	top: 85%;	
	left:50%;
	margin-right: -50%;
	margin-bottom: -50%;
    transform: translate(-50%, -50%);
    padding: 0;
    padding-right: 15px;
}


.icon{
	height: 90px;
	width: 90px;
	border: 3px solid #f1f1f1;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:50%;
	margin-left: -46px;
	text-transform: uppercase;
	color: #c0301c;
}
.icon:hover{
	background-color: #c0301c;
	color: #fff;
}

.icon i{
	font-size: 2.5em;
    padding:25px 0 ;
}

.services_types_item:last-child{
	float: right;
	padding: 0;
}


.aboutus{
	background-color: #f8f8f8;
	color: #717171;
	text-align: center;
}


.aboutus_info{
	width: 85%;
	margin: 0 auto;

}
.aboutus_info p{
	float: left;
	width: 50%;
	margin: 0;
	text-align: left;
	font-size: 14px;
	margin-bottom: 70px;
}
.aboutus_info p:last-child{
	float: right;
}

.people{
	width: 85%;
	margin: 0 auto;
	padding-bottom: 100px;
}

.people_item{
	float: left;
	width: 263px;
	margin: 0;
	text-align: left;
	position: relative;
	height: 310px;
	margin-right: 2%;

}
.people_item:last-child{
	margin-right: 0;
}

.people_item img{
	position: absolute;
	z-index: 2;
}

.photo{
	width: 263px;
	height: 250px;
	float: left;
	z-index: 100;
	position: absolute;
}

.photo:hover{
	background-color: rgba(136,136,136,.5);
}

.people_item p{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	left:50%;
	margin-top: -0.625em;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 14PX;
}

.people_item h3{
	position: absolute;
	top: 100%;
	margin-top: -2.5em;
	left:50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.latest_works{
	width: 85%;
	margin: 0 auto;	
	color: #717171;
	text-align: center;
	overflow:hidden;
	padding: 0;
	margin-bottom: 100px;
}

.latest_works ul{
	display: inline-block;
	list-style-type:none;
    margin-bottom: 70px;
}

.latest_works li{
	position: relative;
	float: left;
}

.latest_works a{
	color: #717171;
	font-family: 'Roboto Slab', serif;
	margin-right: 3em;
}

.latest_works a:hover{
	color: #c0301c;

}

.works{
	width:100%;
	display:inline-block;
	text-align:center;
	padding: 0;
}


.works_item {
	float: left;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	display:inline-block; padding: 0;
}

.works_item:nth-child(n+7){
	margin-bottom:0;
}

.works_item .photo{
	height: 320px;
	width: 360px;
}

.works_item .photo:hover{
	background-color:#c0301c;
	opacity: 0.5;
}

.your_project{
	position: relative;
	padding-top: 96px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	-webkit-background-size: auto;
	background-size: auto;
	box-shadow:0 0 0 1000px rgba(192, 48, 28, 0.5) inset;
	padding-bottom: 110px;
	width: 100%;
	overflow: hidden;
}

.your_project img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	z-index:-1;

}



.your_project h1{
	font-size: 30px;
	line-height: 1.37em;
	margin-bottom: 60px;
	font-weight: 400;
}

.post{
	width: 85%;
	margin: 0 auto;
	padding-bottom: 77px;
}
.post:last-child{
	padding-bottom: 100px;
}



.post img{
	float: left;
	margin-right: 40px;
}

.post_text p{
	text-align: left;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 1.5em;
}
.post_header {
	float: left;
}
.post_text{
	float: right;
	width: 56%;
}



.date{
	border: 2px solid #717171;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.25em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-right: 40px;
	display: block;
	padding: 15px;
}

.date p{
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

address{
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
}

.date span{
	font-size: 24px;
	padding: 0;
	color: #717171;
	text-align: center;
}
h4{
	float: left;
	font-size: 13px;
}

.post a{
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	color: #717171;
	font-size: 15px;
}

.post h3{
	font-size: 16px;
}


.post a:hover, .post h3:hover{
	color:#c0301c;
}

address:hover{
	color:#c0301c;
}

.getintouch{
	width: 85%;
	margin: 0 auto;
	padding-bottom:100px;
}

.getintouch_form{
	width: 65%;
	float: right;
}

.getintouch_form_inp{
	float: left;
	width:43%;
	margin-bottom: 20px;
}

.getintouch_form_inp input, textarea{
	width:100%;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	padding: 18px;
	outline:none;
	border: 1px solid #000;
	background-color: #fff;
}


.getintouch_form_inp input:hover,textarea:hover {
	border: 1px solid #c0301c;
}


.getintouch_form_inp:nth-child(2n){
	float: right;
}
.getintouch_form_inp:nth-child(5){
	width:100%;
}

.getintouch_form_inp:nth-child(7){
	width: 30%;
	margin-bottom: 0;
}
.getintouch_form_inp:nth-child(6){
	width: 70%;
	margin: 0;
}
.getintouch_form_inp:nth-child(7) input:hover{
	background-color: #c0301c;
	color: #fff;

}
.getintouch_form_inp p{
	color: #000;
	font-size: 12px;
	padding: 0;
	margin: 0;
	padding-top: 18px;
}
.getintouch_form_inp span{
	color: #c0301c;
}